@font-face {
  font-family: 'SF Pro';
  src: url("{{ url_for('static', filename='fonts/SF-Pro.ttf') }}") format('truetype');
  font-style: normal;
}

body {
  background-color: #a2bf89;
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  color: #f8f5e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-message {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.upload-button {
  width: 35vh;
  padding: 1vh 2vh;
  background-color: #f8f5e9;
  color: #a2bf89;
  border: none;
  border-radius: 6vh;
  cursor: pointer;
  font-size: 3vh;
  margin: 3vh auto 0;
  display: block;
  font-weight: bold;
}