@font-face {
  font-family: 'SF Pro';
  src: url("{{ url_for('static', filename='fonts/SF-Pro.ttf') }}") format('truetype');
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #f8f5e9;
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  color: #6b6b6b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#timeSimulated {
  position: absolute;
  top: 7vh;
  width: 100%;
  height: 0vh;
  line-height: 0vh;
  text-align: center;
  font-size: 5.5vh;
  color: #789563;
}

.junction-row {
  position: absolute;
  top: calc(14vh);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

#junctionContainer {
  background-color: #789563;
  width: 65vh;
  height: 65vh;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#junctionCanvas {
  width: 100%;
  height: 100%;
  background-color: #789563;
  border-radius: 0px;
  display: block;
  border: 2px solid #789563;
}

.sim-button {
  background-color: #789563;
  color: #f8f5e9;
  border: 2px solid #f8f5e9;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 100px;
  text-align: center;
}

.sim-button:hover {
  background-color: #5a7c57;
}

.speed-container {
  position: absolute;
  top: calc(74vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #789563;
}

#speedLabel {
  height: 0vh;
  line-height: 20vh;
  font-size: 3vh;
  margin-bottom: 13.5vh;
}

#sliderBox {
  height: 7.5vh;
  width: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0vh;
  border: 3px solid transparent;
  border-radius: 16px;
  overflow: hidden;
  background-image: linear-gradient(to right, #789563, #a2bf89, #789563), linear-gradient(white, white);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#speedRange {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 20%;
  background: #f8f5e9;
  outline: #789563;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
}

#speedRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #789563;
  border-radius: 50%;
  border: 3px solid #f8f5e9;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#speedRange::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #f8f5e9;
  border-radius: 50%;
  border: 3px solid #789563;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#rangeTicks {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: #f8f5e9;
  margin: 0 auto;
  margin-top: 0.5rem;
  translate: -0.24rem;
}

#rangeTicks span.activeTick {
  color: #f8f5e9;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}