<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algorithm Session Leaderboard (12 Outputs)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/algorithm_session_leaderboard.css') }}">
</head>
<body>
    <div class="header">
        <h1>📊 Algorithm Session {{ session_id }} Leaderboards 📊</h1>
    </div>

    <div class="leaderboard-container">
        <table>
            <thead>
                <tr>
                    <th>Recent Runs</th>
                    <th>Run ID</th>
                    <th>NB Avg Wait (s)</th>
                    <th>NB Max Wait (s)</th>
                    <th>NB Max Queue</th>
                    <th>SB Avg Wait (s)</th>
                    <th>SB Max Wait (s)</th>
                    <th>SB Max Queue</th>
                    <th>EB Avg Wait (s)</th>
                    <th>EB Max Wait (s)</th>
                    <th>EB Max Queue</th>
                    <th>WB Avg Wait (s)</th>
                    <th>WB Max Wait (s)</th>
                    <th>WB Max Queue</th>
                    <th>Algorithm Score</th>
                </tr>
            </thead>
            <tbody>
                {% if runs and runs|length > 0 %}
                    {% for run in runs %}
                    <tr onclick="handleRowClick(this)">
                        <td>{{ loop.index }}</td>
                        <td>{{ run.run_id }}</td>
                        <td>{{ run.nb_avg_wait|round|int }}</td>
                        <td>{{ run.nb_max_wait|round|int }}</td>
                        <td>{{ run.nb_max_queue|round|int }}</td>
                        <td>{{ run.sb_avg_wait|round|int }}</td>
                        <td>{{ run.sb_max_wait|round|int }}</td>
                        <td>{{ run.sb_max_queue|round|int }}</td>
                        <td>{{ run.eb_avg_wait|round|int }}</td>
                        <td>{{ run.eb_max_wait|round|int }}</td>
                        <td>{{ run.eb_max_queue|round|int }}</td>
                        <td>{{ run.wb_avg_wait|round|int }}</td>
                        <td>{{ run.wb_max_wait|round|int }}</td>
                        <td>{{ run.wb_max_queue|round|int }}</td>
                        <td>{{ run.score|round(5) }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="15">No session runs found.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="nav-container">
        <a class="nav-button" id="endBtn" href="/index">❌ End Session</a>
        <a class="res-button" id="results" href="/back_to_results">🎉 Back to Results</a>
        <a class="res-button" id="searchRunsBtn" href="/search_Algorithm_Runs">🔍 Search Algorithm Runs</a>
        <a class="nav-button" id="backBtn" href="/parameters">✅ Continue Session (Back to Inputs)</a>
    </div>

    <div id="tutorial-popup">
        <div id="tutorial-popup-content">
            <span id="tutorial-close">&times;</span>
            <h2>Algorithm Session Leaderboard</h2>
            <br>
            <p>Here you can see the 10 most recent runs from your current session and the performance results that were produced by priority-based algorithm.</p>
            <br>
            <p>The table shows you how your junction configuration scored, on all its arms, for:</p>
            <p>  - Average Wait Time (in seconds)</p>
            <p>  - Maximum Wait Time (in seconds)</p>
            <p>  - Maximum Vehicle Queue length</p>
            <br>
            <p>Where NB means Northbound, SB means Southbound, EB means Eastbound and WB means Westbound</p>
        </div>
    </div>
    <div id="tutorial-button">?</div>
    <script src="{{ url_for('static', filename='js/algorithm_session_leaderboard.js') }}"></script>
    <script>
        function handleRowClick(row) {
            const runId = row.getElementsByTagName("td")[1].innerText;
            window.location.href = "/junction_details?run_id=" + runId + "&session_id={{session_id}}"
        }
    </script>
</body>
</html>
