<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/main.css" type="text/css" media="all" charset="utf-8">
        <link rel="stylesheet" href="../static/dashboard.css" type="text/css" media="all" charset="utf-8">
        <title>Debt Dashboard</title>
	</head>
	<body>
        <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
		<div id='content_wrapper'>
                                             

			{% include "navigation-bar.html" %}

			<div id='content'>
            </div>
		</div>
	</body>
</html>