<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Invalid File Uploaded</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
</head>
<body>
  <div class="main-container">
    <div class="error-message">⚠️ {{ error_message }} ⚠️</div>
    <button class="upload-button" onclick="window.location.href='javascript:history.back()'">⬅️ Please Go Back</button>
  </div>
</body>
</html>
