<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/main.css" type="text/css" media="all" charset="utf-8">

        <title>Nav-bar</title>

      
	</head>
	<body>
        <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
		
        <div id='content_wrapper'>

            <nav>
              <ul>
                  <li><a href='/upload'><span>Upload</span></a></li>
                  <li><a href='/leaderboards'><span>View Leaderboards</span></a></li>
                  <li><a href='/'><span>Home</span></a></li>
                </ul>
            </nav>

			