<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Junction Simulation</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/parameters.css') }}">
</head>

<body>
  <div class="main-container">
    <div class="header">
      <h1>Input your parameters</h1>
    </div>

    <div class="content">
      <form id="parameterForm">
        <div class="top-row">
          <div class="box">
            <h2>Vehicle Settings</h2>
            <div class="dropdown-heading">
              <span class="symbol">—</span> Northbound (vph)
            </div>
            <div class="dropdown-content">
              <ul>
                <li>
                  <label for="nb_forward">Forward</label>
                  <input type="text" id="nb_forward" name="nb_forward">
                </li>
                <li>
                  <label for="nb_left">Turning Left</label>
                  <input type="text" id="nb_left" name="nb_left">
                </li>
                <li>
                  <label for="nb_right">Turning Right</label>
                  <input type="text" id="nb_right" name="nb_right">
                </li>
              </ul>
            </div>
            <div class="dropdown-heading">
              <span class="symbol">—</span> Eastbound (vph)
            </div>
            <div class="dropdown-content">
              <ul>
                <li>
                  <label for="eb_forward">Forward</label>
                  <input type="text" id="eb_forward" name="eb_forward">
                </li>
                <li>
                  <label for="eb_left">Turning Left</label>
                  <input type="text" id="eb_left" name="eb_left">
                </li>
                <li>
                  <label for="eb_right">Turning Right</label>
                  <input type="text" id="eb_right" name="eb_right">
                </li>
              </ul>
            </div>
            <div class="dropdown-heading">
              <span class="symbol">—</span> Southbound (vph)
            </div>
            <div class="dropdown-content">
              <ul>
                <li>
                  <label for="sb_forward">Forward</label>
                  <input type="text" id="sb_forward" name="sb_forward">
                </li>
                <li>
                  <label for="sb_left">Turning Left</label>
                  <input type="text" id="sb_left" name="sb_left">
                </li>
                <li>
                  <label for="sb_right">Turning Right</label>
                  <input type="text" id="sb_right" name="sb_right">
                </li>
              </ul>
            </div>
            <div class="dropdown-heading">
              <span class="symbol">—</span> Westbound (vph)
            </div>
            <div class="dropdown-content">
              <ul>
                <li>
                  <label for="wb_forward">Forward</label>
                  <input type="text" id="wb_forward" name="wb_forward">
                </li>
                <li>
                  <label for="wb_left">Turning Left</label>
                  <input type="text" id="wb_left" name="wb_left">
                </li>
                <li>
                  <label for="wb_right">Turning Right</label>
                  <input type="text" id="wb_right" name="wb_right">
                </li>
              </ul>
            </div>
          </div>

          <div class="box">
            <h2>Junction Settings</h2>
            <div class="slider-container">
              <label for="lanes">Number of lanes</label>
              <input type="range" id="lanes" name="lanes" min="1" max="5" value="5">
              <div class="slider-values">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
              </div>
            </div>

            <div style="display: flex; align-items: center; margin: 2vh 0 1vh;">
              <label for="pedestrian-frequency" style="font-size: 1.5vh; font-weight: 400; margin-right: 1.5vh; cursor: default;">
                Pedestrian Events (per hr)
              </label>
              <input type="number" id="pedestrian-frequency" name="pedestrian-frequency" min="0" max="5" value="0" style="padding: 0.5vh 1vh; font-size: 1.5vh; border: 1px solid #ccc; border-radius: 4px;">
            </div>
            <div style="display: flex; align-items: center; margin: 2vh 0 1vh;">
              <label for="pedestrian-duration" style="font-size: 1.5vh; font-weight: 400; margin-right: 1.5vh; cursor: default;">
                Duration of Pedestrian Event (mins)
              </label>
              <input type="number" id="pedestrian-duration" name="pedestrian-duration" min="0" max="5" step="0.2" value="0" style="padding: 0.5vh 1vh; font-size: 1.5vh; border: 1px solid #ccc; border-radius: 4px;">
            </div>
          </div>

          <div class="box">
            <h2>Traffic Light Settings</h2>

            <div class="checkbox-container">
              <input type="checkbox" id="traffic-light-enable" name="traffic-light-enable">
              <label for="traffic-light-enable">Enable User Traffic Light Settings</label>
            </div>
          
            <ul class="traffic-light-settings">
              <li>
                <label for="tl_sequences">Traffic Cycles (per hr)</label>
                <input type="number" id="tl_sequences" name="tl_sequences" min="2" max="5" value="0" step="1">
              </li>
            </ul>
          
            <div class="dropdown-heading">
              <span class="symbol">—</span> Northbound/Southbound Green Lights
            </div>
            <div class="dropdown-content">
              <ul class="traffic-light-settings">
                <li>
                  <label for="tl_vmain"> Forward and Left Turn Duration (mins)</label>
                  <input type="number" id="tl_vmain" name="tl_vmain" min="0" value="0">
                </li>
                <li>
                  <label for="tl_vright">Right Turn Duration (mins)</label>
                  <input type="number" id="tl_vright" name="tl_vright" min="0" value="0">
                </li>
              </ul>
            </div>
          
            <div class="dropdown-heading">
              <span class="symbol">—</span> Eastbound/Westbound Green Lights
            </div>
            <div class="dropdown-content">
              <ul class="traffic-light-settings">
                <li>
                  <label for="tl_hmain"> Forward and Left Turn Duration (mins)</label>
                  <input type="number" id="tl_hmain" name="tl_hmain" min="0" value="0">
                </li>
                <li>
                  <label for="tl_hright">Right Turn Duration (mins)</label>
                  <input type="number" id="tl_hright" name="tl_hright" min="0" value="0">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </form>

      <form action="/upload" method="POST" enctype="multipart/form-data" style="flex: 0;">
        <div class="bottom-box">
          <div class="drag-drop-box">
            <p style="font-size: 3vh;">+</p>
            <p>Drag and Drop your Settings File</p>
            <p>or</p>
            <p>Click to Browse Files from your Computer</p>
          </div>
          <input type="file" name="file" id="file-input" />
          <br>
        </div>
      </form>

      <form id="hiddenForm" action="/parameters" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="hidden_nb_forward" name="nb_forward" value="">
        <input type="hidden" id="hidden_nb_left" name="nb_left" value="">
        <input type="hidden" id="hidden_nb_right" name="nb_right" value="">

        <input type="hidden" id="hidden_eb_forward" name="eb_forward" value="">
        <input type="hidden" id="hidden_eb_left" name="eb_left" value="">
        <input type="hidden" id="hidden_eb_right" name="eb_right" value="">

        <input type="hidden" id="hidden_sb_forward" name="sb_forward" value="">
        <input type="hidden" id="hidden_sb_left" name="sb_left" value="">
        <input type="hidden" id="hidden_sb_right" name="sb_right" value="">

        <input type="hidden" id="hidden_wb_forward" name="wb_forward" value="">
        <input type="hidden" id="hidden_wb_left" name="wb_left" value="">
        <input type="hidden" id="hidden_wb_right" name="wb_right" value="">

        <input type="hidden" id="hidden_lanes" name="lanes" value="">
        <input type="hidden" id="hidden_pedestrian_frequency" name="pedestrian-frequency" value="">
        <input type="hidden" id="hidden_pedestrian_duration" name="pedestrian-duration" value="">

        <input type="hidden" id="hidden_tl_enabled" name="traffic-light-enable" value="">
        <input type="hidden" id="hidden_sequences" name="tl_sequences" value="">
        <input type="hidden" id="hidden_vmain" name="tl_vmain" value="">
        <input type="hidden" id="hidden_hmain" name="tl_hmain" value="">
        <input type="hidden" id="hidden_vright" name="tl_vright" value="">
        <input type="hidden" id="hidden_hright" name="tl_hright" value="">

        <button class="upload-button" type="button" id="startButton">Start</button>
      </form>

    </div>
  </div>

  <div id="tutorial-popup">
    <div id="tutorial-popup-content">
      <span id="tutorial-close">&times;</span>
      <h2>Input Parameters</h2>
      <br>
      <h3>Vehicle Settings</h3>
      <p>Here you can enter your input parameters for the rate of traffic flow leaving the given arm of the junction (in vehicles per hour). For example, North: Forward 100, Turning Left 100, Turning Right 100, means that 300 vehicles are arriving at the Northbound arm per hour: 100 vehicles will continue straight forward, 100 will turn left and exit and 100 vehicles will turn right and exit. </p>
      <br>
      <h3>Junction Settings</h3>
      <p>Here you can select the number of lanes you want on each arm of the junction. It’s the same for each arm!</p>
      <br>
      <p>The pedestrian event box lets you input how many times you want pedestrians to cross the junction (per hour). The maximum is 15.</p>
      <br>
      <p>The duration box lets you input how long (in minutes) you want pedestrians to cross the junction for, per event. The maximum is 5 minutes.</p>
      <br>
      <h3>Traffic Light Settings</h3>
      <p>Normally the traffic lights will run according to a priority-based, dynamic algorithm, created by the development team. In this algorithm, the time that traffic lights are set to green for, on a junction arm, is based on the length of vehicle queues.</p>
      <br>
      <p>ie) A longer vehicle queue means green lights will subsequently stay on for longer.</p>
      <br>
      <p>When you enable traffic light settings, you are now manually in control of how often the traffic lights turn green.</p>
      <p>The Simulation will display the run with your manually chosen traffic inputs</p>
      <p>Dont worry, we will still show you the results of our priority based algorithm afterwards!</p> 
      <p>And you can see how your manual inputs compare in efficiency to our algorithm!</p>
      <br>
      <h4>Manual Mode</h4>
      <p>The "Full Traffic Cycles (per hour)"" input is how many full cycles the traffic lights go through every simulated hour. A full cycle: Red -> Amber -> Green -> Amber -> Red -> Green (Right turn light) -> Red (Right turn light).</p>
      <br>
      <h5>Northbound/Southbound Green Lights</h5>
      <p>Input how many seconds you want the green light to stay on for.</p>
      <p>The first box is for the green light controlling the forward and left turn exits.</p>
      <p>The second box is for the green light controlling the right turn exit.</p>
      <br>
      <h5>Eastbound/Westbound Green Lights</h5>
      <p>These inputs work identically to the northbound/southbound lights.</p>
      <br>
      <hr>
      <br>
      <h2>Upload a file</h2>
      <p>You can write your parameters in a JSON file and upload them from your local drive, to begin your simulation quickly! You don’t even have to click the ‘Start’ button!</p>
      <br>
      <p>Make sure your file is formatted as below:</p>
      <br>
      <pre><code>{
        "vehicle_settings": {
          "north": {
            "forward": 123,
            "turning_left": 123,
            "turning_right": 123
          },
          "east": {
            "forward": 345,
            "turning_left": 345,
            "turning_right": 345
          },
          "south": {
            "forward": 567,
            "turning_left": 567,
            "turning_right": 567
          },
          "west": {
            "forward": 789,
            "turning_left": 789,
            "turning_right": 789
          }
        },
        "junction_settings": {
          "number_of_lanes": 3,
          "left_turn_lane": true,
          "bus_lane": false,
          "pedestrian_frequency": 3,
          "pedestrian_duration": 4
        },
        "traffic_light_settings": {
          "enabled": false,
          "traffic_cycles": 4,
          "vertical_sequence": {
            "main_green_length": 2,
            "right_green_length": 3
          },
          "horizontal_sequence": {
            "main_green_length": 3,
            "right_green_length": null
          }
        }
      }</code></pre>
      <br>
    </div>
  </div>
  <div id="tutorial-button">?</div>
  <script src="{{ url_for('static', filename='js/parameters.js') }}"></script>

</body>
</html>
