<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Algorithm Simulation Runs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search_Algorithm_Runs.css') }}">
</head>
<body>
    <div class="header">
        <h1>🔍 Search Algorithm Simulation Runs 🔍</h1>
    </div>

    <div class="search-container">
        <form id="searchForm" action="/junction_details" method="get">
            <label for="run_id">Run ID:</label>
            <input type="text" id="run_id" name="run_id" placeholder="Enter Run ID" required>
            
            <label for="session_id">Session ID:</label>
            <input type="text" id="session_id" name="session_id" placeholder="Enter Session ID" required>
            
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="nav-container">
        <a class="nav-button" id="endBtn" href="/index">❌ End Session</a>
        <a class="res-button" id="results" href="/back_to_results">🎉 Back to Results</a>
        <a href="{{ url_for('download_metrics_json') }}">⏬ Download all Run IDs ⏬</a>
        <a class="nav-button" id="backBtn" href="/parameters">✅ Continue Session (Back to Inputs)</a>
    </div>

    <div id="tutorial-popup">
        <div id="tutorial-popup-content">
            <span id="tutorial-close">&times;</span>
            <h2>Search Algorithm Runs</h2>
            <br>
            <p>Using the session ID and run ID, search up a run and all its details and results will be displayed.</p>
            <br>
            <p>'Download Run ID' lets you download the session ID, run ID, overall scores and score differences of all past runs. So if you remember achieving a certain score but can't remember what your parameter inputs were, you can find the session ID and run ID from the downloaded file. Then you can search up that old run!</p>
        </div>
    </div>
    <div id="tutorial-button">?</div>

    <script src="{{ url_for('static', filename='js/search_Algorithm_Runs.js') }}"></script>
</body>
</html>
