<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Session Leaderboard (12 Outputs)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/session_leaderboard.css') }}">
</head>
<body>
    <div class="header">
        <h1>📊 User Session {{ session_id }} Leaderboards 📊</h1>
    </div>

    <div class="leaderboard-container">
        <table>
            <thead>
                <tr>
                    <th>Recent Runs</th>
                    <th>Run ID</th>
                    <th>NB Avg Wait (s)</th>
                    <th>NB Max Wait (s)</th>
                    <th>NB Max Queue</th>
                    <th>SB Avg Wait (s)</th>
                    <th>SB Max Wait (s)</th>
                    <th>SB Max Queue</th>
                    <th>EB Avg Wait (s)</th>
                    <th>EB Max Wait (s)</th>
                    <th>EB Max Queue</th>
                    <th>WB Avg Wait (s)</th>
                    <th>WB Max Wait (s)</th>
                    <th>WB Max Queue</th>
                    <th>Algorithm Score</th>
                    <th>User Score</th>
                    <th>Overall Score Difference</th>
                </tr>
            </thead>
            <tbody>
                {% if runs and runs|length > 0 %}
                    {% for run in runs %}
                    <tr onclick="handleRowClick(this)">
                        <td>
                            {% if loop.first %}
                                Best
                            {% else %}
                                {{ loop.index0 }}
                            {% endif %}
                        </td>
                        <td>{{ run.run_id }}</td>
                        <td>{{ run.nb_avg_wait|round|int }}</td>
                        <td>{{ run.nb_max_wait|round|int }}</td>
                        <td>{{ run.nb_max_queue|round|int }}</td>
                        <td>{{ run.sb_avg_wait|round|int }}</td>
                        <td>{{ run.sb_max_wait|round|int }}</td>
                        <td>{{ run.sb_max_queue|round|int }}</td>
                        <td>{{ run.eb_avg_wait|round|int }}</td>
                        <td>{{ run.eb_max_wait|round|int }}</td>
                        <td>{{ run.eb_max_queue|round|int }}</td>
                        <td>{{ run.wb_avg_wait|round|int }}</td>
                        <td>{{ run.wb_max_wait|round|int }}</td>
                        <td>{{ run.wb_max_queue|round|int }}</td>
                        <td>{{ run.algorithm_score|round(5) }}</td>
                        <td>{{ run.user_score|round(5) }}</td>
                        <td>{{ run.score|round(5) }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="15">No session runs found.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="nav-container">
        <a class="nav-button" id="endBtn" href="/index">❌ End Session</a>
        <a class="res-button" id="results" href="/back_to_results">🎉 Back to Results</a>
        <a href="/leaderboards">🏆 See User All-Time Leaderboard</a>
        <a class="nav-button" id="backBtn" href="/parameters">✅ Continue Session (Back to Inputs)</a>
    </div>
    

    <div id="tutorial-popup">
        <div id="tutorial-popup-content">
            <span id="tutorial-close">&times;</span>
            <h2>User Session Leaderboard</h2>
            <br>
            <p>This is the User Session Leaderboard!</p>
            <br>
            <p>Here you can find the most efficient run you've tested so far this session and your 9 most recent runs, in case you want to jump back to rerun them!</p>
            <br>
            <p>The table shows you how your junction configuration scored compared to our priority-based algorithm, on all its arms, for:</p>
            <p>  - Average Wait Time (in seconds)</p>
            <p>  - Maximum Wait Time (in seconds)</p>
            <p>  - Maximum Vehicle Queue length</p>
            <br>
            <p>Where NB means Northbound, SB means Southbound, EB means Eastbound and WB means Westbound</p>
            <br>
            <hr>
            <br>
            <h2>What next?</h2>
            <br>
            <p>Tap on any of the rows to see the junction parameters you selected for that run. Make a note of it, so you can reproduce that run again if you want!</p>
            <br>
        </div>
    </div>
    <div id="tutorial-button">?</div>
    <script>
        function handleRowClick(row) {
            const runId = row.getElementsByTagName("td")[1].innerText;
            window.location.href = "/junction_details?run_id=" + runId + "&session_id={{session_id}}";
        }
    </script>
   
    <script src="{{ url_for('static', filename='js/session_leaderboard.js') }}"></script>
</body>
</html>
