<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/main.css" type="text/css" media="all" charset="utf-8">
    <title>Upload Configuration</title>
</head>
<body>
    <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
    <div id='content_wrapper'>
        <h1>Upload Traffic Configuration</h1>
        {% include "navigation-bar.html" %}
        <div id='content'>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="file">Upload CSV File:</label>
                <input type="file" name="file" id="file">
                <button type="submit">Upload</button>
            </form>
            
            <h2>Or Enter Configuration Manually</h2>
            <form action="/upload" method="post">
                <label for="run_id">Run ID:</label>
                <input type="text" name="run_id" id="run_id"><br>
                
                <!-- <label for="lanes">Number of Lanes:</label>
                <input type="text" name="lanes" id="lanes"><br> -->

                <label for="pedestrian_crossings">Pedestrian Crossings:</label>
                <input type="checkbox" name="pedestrian_crossings" id="pedestrian_crossings"><br>

                <label for="north_vph">Time for Pedestrians to Cross:</label>
                <input type="text" name="pedestrian_time" id="pedestrian_time"><br>

                <label for="north_vph">Pedestrian Crossing Requests per Hour:</label>
                <input type="text" name="pedestrian_frequency" id="pedestrian_frequency"><br>

                <h3>Northbound</h3>
                <label for="north_vph">Vehicles per Hour:</label>
                <input type="text" name="north_vph" id="north_vph"><br>
                
                <label for="north_exit_east_vph">Exiting East:</label>
                <input type="text" name="north_exit_east_vph" id="north_exit_east_vph"><br>

                <label for="north_exit_west_vph">Exiting West:</label>
                <input type="text" name="north_exit_west_vph" id="north_exit_west_vph"><br>

                <label for="north_exit_south_vph">Exiting South:</label>
                <input type="text" name="north_exit_south_vph" id="north_exit_south_vph"><br>

                <h3>Southbound</h3>
                <label for="south_vph">Vehicles per Hour:</label>
                <input type="text" name="south_vph" id="south_vph"><br>
                
                <label for="south_exit_east_vph">Exiting East:</label>
                <input type="text" name="south_exit_east_vph" id="south_exit_east_vph"><br>

                <label for="south_exit_west_vph">Exiting West:</label>
                <input type="text" name="south_exit_west_vph" id="south_exit_west_vph"><br>

                <label for="south_exit_north_vph">Exiting North:</label>
                <input type="text" name="south_exit_north_vph" id="south_exit_north_vph"><br>

                <h3>Eastbound</h3>
                <label for="east_vph">Vehicles per Hour:</label>
                <input type="text" name="east_vph" id="east_vph"><br>
                
                <label for="east_exit_north_vph">Exiting North:</label>
                <input type="text" name="east_exit_north_vph" id="east_exit_north_vph"><br>

                <label for="east_exit_south_vph">Exiting South:</label>
                <input type="text" name="east_exit_south_vph" id="east_exit_south_vph"><br>

                <label for="east_exit_west_vph">Exiting West:</label>
                <input type="text" name="east_exit_west_vph" id="east_exit_west_vph"><br>

                <h3>Westbound</h3>
                <label for="west_vph">Vehicles per Hour:</label>
                <input type="text" name="west_vph" id="west_vph"><br>
                
                <label for="west_exit_north_vph">Exiting North:</label>
                <input type="text" name="west_exit_north_vph" id="west_exit_north_vph"><br>

                <label for="west_exit_south_vph">Exiting South:</label>
                <input type="text" name="west_exit_south_vph" id="west_exit_south_vph"><br>

                <label for="west_exit_east_vph">Exiting East:</label>
                <input type="text" name="west_exit_east_vph" id="west_exit_east_vph"><br>

                <button type="submit">Submit Configuration</button>
            </form>
        </div>
    </div>
</body>
</html>
